* {
    margin: 0;
    padding: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
:root {
    --title-height: 50px;
    --drawer-closed: 50px;
    --drawer-open: 200px;
    --icon-size: 50px;

    --anim-time: 0.25s;

    --theme-color: rgb(105, 240, 93);
    --theme-color-button: rgb(84, 213, 72);
    --theme-color-button-hover: rgb(128, 209, 121);
    --theme-color-button-active: rgb(141, 225, 135);
}
body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body.desktop input:focus-visible {
    outline: none;
}
